##############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.cs     diff=csharp
*.cshtml diff=csharp

*.sln        text eol=crlf
*.csproj     text eol=crlf
*.vbproj     text eol=crlf
*.vcxproj    text eol=crlf
*.vcproj     text eol=crlf
*.dbproj     text eol=crlf
*.fsproj     text eol=crlf
*.lsproj     text eol=crlf
*.wixproj    text eol=crlf
*.modelproj  text eol=crlf
*.sqlproj    text eol=crlf
*.wmaproj    text eol=crlf

*.xproj      text eol=crlf
*.props      text eol=crlf
*.filters    text eol=crlf
*.vcxitems   text eol=crlf

*.css           text eol=crlf
*.df            text eol=crlf
*.htm           text eol=crlf
*.html          text eol=crlf
*.java          text eol=crlf
*.js            text eol=crlf
*.json          text eol=crlf
*.jsp           text eol=crlf
*.jspf          text eol=crlf
*.jspx          text eol=crlf
*.properties    text eol=crlf
*.sh            text eol=crlf
*.tld           text eol=crlf
*.txt           text eol=crlf
*.tag           text eol=crlf
*.tagx          text eol=crlf
*.xml           text eol=crlf
*.yml           text eol=crlf

Scrape/*.html linguist-vendored
Scrape/Views/* linguist-vendored
Scrape/Views/Home/* linguist-vendored
Scrape/Views/Shared/* linguist-vendored
Scrape/wwwroot/* linguist-vendored
Scrape/wwwroot/css/* linguist-vendored
Scrape/wwwroot/images/* linguist-vendored
Scrape/wwwroot/js/* linguist-vendored
Scrape/wwwroot/lib/* linguist-vendored

*.cshtml linguist-language=csharp

#jquery.js linguist-vendored=true
#
###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
#*.cs     diff=csharp

###############################################################################
# Set the merge driver for project and solution files
#
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected by the settings below, in VS
# the diff markers are never inserted). Diff markers may cause the following 
# file extensions to fail to load in VS. An alternative would be to treat
# these files as binary and thus will always conflict and require user
# intervention with every merge. To do so, just uncomment the entries below
###############################################################################
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
#*.jpg   binary
#*.png   binary
#*.gif   binary

###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain