@model IEnumerable<Scrape.Models.CalenderMes>

@{
    ViewData["Title"] = "";
}

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SJson)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div> <a href="javascript: history.go(-1)">Voltar</a></div>