@model Scrape.Models.Address
@{
    ViewData["Title"] = "Scrape WEB Testing";
}
<div align="center">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="form-group" align="left">
    <ul class="dl-horizontal">
        <li align="justify"><a asp-area="" asp-controller="Home" asp-action="EntrarDados">Scraping</a> : Scraping via entrada de URL</li>
        <li align="justify">
            <a asp-area="" asp-controller="Home" asp-action="Listar">List</a> : Scraping direto com url padrão -
            <a href="http://www.b3.com.br/pt_br/solucoes/plataformas/puma-trading-system/para-participantes-e-traders/calendario-de-negociacao/feriados/" target="_blank">
                Calendário de negociação
            </a>
        </li>
    </ul>
</div>