@model Scrape.Models.Address
@{
    ViewData["Title"] = "Scrape WEB Testing";
}
<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <br />
        <div class="form-group">
            @Html.LabelFor(x => x.Url, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!--<input type="text" size="100" placeholder="Entre a Url aqui!" />-->
                @Html.TextBoxFor(x => x.Url, new { @class = "form-control " })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Enviar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
