@model IEnumerable<Scrape.Models.CalenderMes>

@{
    ViewData["Title"] = "Listar";
}

<!--<h2>@ViewData["Title"]</h2>-->
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="justify">
                    @Html.DisplayFor(modelItem => item.SJson)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div><a asp-action="Index">Voltar</a></div>
